{% extends 'base.html' %}
{% block content %}
    <div class="list-group">
        {% for article in object_list %}
            <a href="{% url 'news-detail' pk=article.id %}">
                <div class="m-4 blockquote">
                    <h1 class="display-4">{{ article.published_date|date }} - {{ article.headline }}</h1>
                    <small>By : {{ article.reporter }}</small>
                </div>
            </a>
        {% empty %}
            <div class="m-4 blockquote">
                <h1 class="display-4">No articles added yet.</h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}