{% extends 'base.html' %}
{% block title %}
    {{ object.headline }}
{% endblock %}
{% block extra_script %}
    <script>
      var disqus_developer = 1;
      var disqus_config = function () {
        this.page.url = "https://{{ SITE.name }}.com{{ object.get_absolute_url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "https://{{ SITE.name }}.com{{ object.get_absolute_url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://wrufesh1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
{% endblock %}
{% block content %}

    <main id="main" class="site-main" role="main">


        <div class="row">
            <div class="col-md-12">

                <article id="post-4002"
                         class="entry single post-4002 post type-post status-publish format-standard has-post-thumbnail hentry category-beauty tag-html tag-php tag-tag tag-tags tag-wordpress tag-world">

                    <span class="entry-date">{{ object.published_date|date }}</span>
                    <h2 class="entry-title">{{ object.headline }}</h2>
                    <div class="entry-content">
                        {{ object.article|safe }}
                    </div><!-- End .entry-content -->
                </article>
            </div><!-- End .col-md-12 -->

            <div class="col-md-12">
                <footer class="entry-footer clearfix">
            										<span class="entry-cats">
            						<span class="entry-label">
            							<i class="fa fa-tag"></i> Categories:						</span>
            						<a href="{% url 'news-list' %}?category_id={{ object.category.id }}">{{ object.category.name }}</a>					</span>
                    <span class="entry-cats">
            						<span class="entry-label">
            							<i class="fa fa-tag"></i> Tags:						</span>

                        {% for tag in object.tags.all %}
                            {% if not forloop.first %}
                                <span class="entry-separator">/</span>
                            {% endif %}
                            <a href="{% url 'news-list' %}?tag_id={{ tag.id }}">{{ tag.name }}</a>
                        {% endfor %}

            											</span>
                    <!-- End .entry-tags -->
                    {#                    <span class="entry-separator">/</span>#}
                    {#                    todo comment#}
                    {#                    <a href="#" class="entry-comments">No Responses</a>#}
                    <span class="entry-separator"></span>
                    by <a href="{% url 'news-list' %}?author_id={{ object.author_id }}"
                          class="entry-author">{{ object.author.name }}</a>
                </footer>
            </div>

            <div class="col-md-12">
                <div id="disqus_thread"></div>

                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered
                    by Disqus.</a></noscript>
            </div>

            <div class="col-md-12">
                <h3 class="mb30 title-underblock custom blog-related-carousel-title  ">Related Posts</h3>
            </div>


            {#            <div class="post-section islemag-template2">#}

            {% for article in object.get_related_articles %}
                <div class="col-sm-6 post-section islemag-template2">
                    <article
                            class="entry entry-overlay entry-block eb-small {% cycle 'blue' 'green' 'purple' 'orange' 'pink' 'light_red' %}">
                        <div class="entry-media blist">
                            <a href="{% url 'news-list' %}?category_id={{ article.category.id }}"
                               class="category-block"
                               title="Category {{ article.category.name }}">{{ article.category.name }}</a>
                            <figure>
                                <a href="{% url 'news-detail' article.id %}"
                                   title="{{ article.headine }}">
                                    <img width="110" height="110"
                                         src="{{ article.get_thumbnail }}"
                                         class="attachment-islemag_sections_small_thumbnail size-islemag_sections_small_thumbnail wp-post-image img-thumbnail"
                                         alt="Article Thumbnail"/> </a>
                            </figure> <!-- End figure -->
                        </div> <!-- End .entry-media -->

                        <h3 class="entry-title"><a
                                href="{% url 'news-detail' article.id %}">{{ article.headline }}</a></h3>


                        <div class="entry-meta">
                                <span class="entry-overlay-date"><i
                                        class="fa fa-calendar"></i>{{ article.published_date }}</span>
                            {#                            <span class="entry-separator">/</span>#}
                            {##}
                            {# todo comment link and number #}
                            {#                            <a href="{% url 'news-detail' article.id %}"#}
                            {#                               class="entry-comments">0 Comments</a>#}
                            <div>
                                Posted By<a href="{% url 'news-list' %}?author_id={{ article.author.id }}"
                                            class="entry-author">{{ article.author.name }}</a>
                            </div>
                        </div> <!-- End .entry-meta -->
                    </article> <!-- End .entry-block -->
                </div> <!-- End .col-sm-6 -->

            {% endfor %}

            {#            </div> <!-- End .post-section -->#}


        </div><!-- End .row -->
        <div class="mb20"></div><!-- space -->


    </main><!-- #main -->
{% endblock %}


{##}


{#Comments#}
{#<div id="comments" class="comments-area">#}
{##}
{##}
{#            <div id="respond" class="comment-respond">#}
{#                <h3 id="reply-title" class="comment-reply-title">Leave a Reply#}
{#                    <small><a rel="nofollow" id="cancel-comment-reply-link"#}
{#                              href="/islemag/2016/05/11/roofs-pitches-trusses-framing/#respond"#}
{#                              style="display:none;">Cancel reply</a></small>#}
{#                </h3>#}
{#                <form action="https://demo.themeisle.com/islemag/wp-comments-post.php" method="post"#}
{#                      id="commentform" class="comment-form" novalidate>#}
{#                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>#}
{#                        Required fields are marked <span class="required">*</span></p>#}
{#                    <div class="row">#}
{#                        <div class="col-sm-4">#}
{#                            <div class="form-group">#}
{#                                <label for="author" class="input-desc">Name<span#}
{#                                        class="required">*</span></label> <input id="author"#}
{#                                                                                 class="form-control"#}
{#                                                                                 placeholder="Name"#}
{#                                                                                 name="author" type="text"#}
{#                                                                                 value="" size="30"#}
{#                                                                                 aria-required='true'/>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-sm-4">#}
{#                            <div class="form-group">#}
{#                                <label for="email" class="input-desc">Email<span#}
{#                                        class="required">*</span></label> <input id="email"#}
{#                                                                                 class="form-control"#}
{#                                                                                 placeholder="Your E-mail"#}
{#                                                                                 name="email" type="text"#}
{#                                                                                 value="" size="30"#}
{#                                                                                 aria-required='true'/>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-sm-4">#}
{#                            <div class="form-group">#}
{#                                <label for="url" class="input-desc">Website</label><input id="url"#}
{#                                                                                          class="form-control"#}
{#                                                                                          placeholder="Website"#}
{#                                                                                          name="url"#}
{#                                                                                          type="text"#}
{#                                                                                          value=""#}
{#                                                                                          size="30"/>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="comment" class="input-desc">Comment</label>#}
{#                        <textarea class="form-control" id="comment" name="comment" aria-required="true"#}
{#                                  placeholder="Your Message"></textarea>#}
{#                    </div>#}
{#                    <p class="form-submit"><input name="submit" type="submit" id="submit"#}
{#                                                  class="btn btn-dark" value="Post Comment"/> <input#}
{#                            type='hidden' name='comment_post_ID' value='4002' id='comment_post_ID'/>#}
{#                        <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>#}
{#                    </p></form>#}
{#            </div><!-- #respond -->#}
{##}
{#        </div><!-- #comments -->#}