{% extends 'base.html' %}
{% block title %}News Update{% endblock %}
{% block content %}

    {% load pagination_tags %}
    {% autopaginate object_list %}

    {% for article in object_list %}

        <article id="post-{{ article.id }}"
                 class="entry post-{{ article.id }} post type-post status-publish format-standard has-post-thumbnail hentry">


            <a href="{% url 'news-detail' article.slug %}">
                <div class="newslist entry-media">
                    <img width="595" height="397"
                         src="{{ article.get_thumbnail }}"
                         class="size-islemag_blog_post_no_crop wp-post-image "
                         alt=""/>

                </div><!-- End .entry-media -->
            </a>
            <span class="entry-date">{{ article.published_date | date }}</span>
            <h2 class="entry-title"><a href="{% url 'news-detail' article.slug %}"
                                       rel="bookmark">{{ article.headline }}</a>
            </h2>

            <footer class="entry-footer">
                <span class="cat-links">Posted in: <a
                        href="{% url 'news-list' category_slug=article.category.slug %}"
                        rel="category tag">{{ article.category.name }}</a></span>
                <span class="cat-links">Author: <a
                        href="{% url 'news-list' author_slug=article.author.slug %}"
                        rel="category tag">{{ article.author.name }}</a></span>
                <span class="comments-link"> <a href="{% url 'news-detail' article.slug %}#disqus_thread">
                    <i class="fa fa-comments"></i>
                    <span class="disqus-comment-count"
                          data-disqus-identifier="https://{{ SITE.name }}.com{{ article.get_absolute_url }}"></span>
                </a></span>
            </footer>
            {#            https://{{ SITE.name }}.com{{ object.get_absolute_url }}#}

        </article>
    {% empty %}
        <div class="m-4 blockquote">
            <h1 class="display-4">No articles added yet.</h1>
        </div>
    {% endfor %}
    {% paginate %}
{% endblock %}