{% load category  cache %}
{% get_current_categories as categories %}

<div class="row ">
    <div class="col-md-3 col-sm-3 col-xs-12 navbar-brand">
        <a href="#" class="custom-logo-link" rel="home" itemprop="url"><h1 class="mt-5">Hotc News</h1></a>
    </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #1b5836;">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{% url 'home' %}" class="nav-item nav-link text-white"><i
                    class="_mi dashicons dashicons-admin-home"
                    aria-hidden="true"
                    style="font-size:2em;"></i><span
                    class="visuallyhidden">Home</span></a>


            {% cache 10000 categories_menu %}
                {% for category in categories %}
                    <a class="nav-item nav-link text-white"
                       href="{% url 'news-list' category_slug=category.slug %}">{{ category.name }}</a>
                {% endfor %}
            {% endcache %}

        </div>
    </div>
</nav>




