{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <link href={% static 'public/plugins/bootstrap/dist/css/bootstrap.css' %} rel="stylesheet">


    {% block exra_style %}{% endblock %}

</head>

<body>


{% include '_header.html' %}


<!-- Main Content -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<hr>

<!-- Footer -->
{% include '_footer.html' %}

<!-- Bootstrap core JavaScript -->
<script src={% static 'public/plugins/jquery/dist/jquery.js' %}></script>
<script src={% static 'public/plugins/tether/dist/js/tether.js' %}></script>
<script src={% static 'public/plugins/bootstrap/dist/js/bootstrap.js' %}></script>

{% block extra_script %}{% endblock %}

</body>

</html>