{% load category %}
{% load static %}
{% get_latest_news as latest_articles %}
{% get_all_tags as tags %}
{% get_discus_username as discus_uername %}

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %} Home {% endblock %}</title>

    {#    todo seo#}


    <link rel='stylesheet' id='dashicons-css'
          href='{% static 'public/css/dashicons.min.css' %}'
          type='text/css' media='all'/>

    <link rel='stylesheet'
          href='{% static 'public/plugins/tether/dist/css/tether.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet'
          href='{% static 'public/plugins/bootstrap/dist/css/bootstrap.css' %}'
          type='text/css' media='all'/>

    <script type='text/javascript'
            src='{% static 'public/plugins/jquery/dist/jquery.js' %}'></script>

    <script type='text/javascript'
            src='{% static 'public/plugins/tether/dist/js/tether.min.js' %}'></script>

    <script type='text/javascript'
            src='{% static 'public/plugins/bootstrap/dist/js/bootstrap.min.js' %}'></script>


    <link rel='stylesheet' id='islemag-fonts-css'
          href='{% static 'public/css/custom.css' %}'
          type='text/css' media='all'/>

    {% block extrahead %}
    {% endblock %}


</head>

<body class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-701 custom-background wp-custom-logo group-blog">
<div id="wrapper" class="boxed">

    {#    Header#}
    {% include '_header.html' %}

    {% block carousel %}{% endblock %}


    <div class="container">
        <div class="row">

            <div class="col-md-9">
                {% block content %} {% endblock %}
            </div><!-- End .islemag-content-left -->
            <aside class="col-md-3 sidebar" role="complementary">
                {% include '_aside.html' %}
            </aside>
        </div><!-- End .row -->
    </div><!-- End .container -->


    {% include '_footer.html' %}
</div><!-- #page -->
</div><!-- End #wrapper -->


{% block extra_script %}{% endblock %}

<script id="dsq-count-scr" src="//{{ discus_uername }}.disqus.com/count.js" async></script>


</body>
</html>