
{% load category %}
{% load static %}
{% get_latest_news as latest_articles %}
{% get_all_tags as tags %}
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %} Home {% endblock %}</title>

{#    todo seo#}


    <link rel='stylesheet' id='dashicons-css'
          href='{% static 'public/css/dashicons.min.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='menu-icons-extra-css'
          href='{% static 'public/css/extra.min.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='latest-posts-css'
          href='{% static 'public/css/latest-post-style.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='islemag-bootstrap-css'
          href='{% static 'public/css/bootstrap.min.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='islemag-style-css'
          href='{% static 'public/css/theme-style.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='islemag-fontawesome-css'
          href='{% static 'public/css/font-awesome.min.css' %}'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='islemag-fonts-css'
          href='{% static 'public/css/googleapi-fonts.css' %}'
          type='text/css' media='all'/>
    <script type='text/javascript'
            src='{% static 'public/js/jquery.js' %}'></script>



    <link rel='stylesheet' id='islemag-fonts-css'
          href='{% static 'public/css/custom.css' %}'
          type='text/css' media='all'/>


</head>

<body class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-701 custom-background wp-custom-logo group-blog">
<div id="wrapper" class="boxed">

    {#    Header#}
    {% include '_header.html' %}

    <div id="content" class="site-content">
        {% block carousel %}{% endblock %}
    </div><!-- #content -->


    <div class="container">
        <div class="row">

            <div class="islemag-content-left col-md-9">
                {% block content %} {% endblock %}
            </div><!-- End .islemag-content-left -->
            <div>
                <aside class="col-md-3 sidebar islemag-content-right" role="complementary">
                    {% include '_aside.html' %}
                </aside>
            </div><!-- End .row -->
        </div><!-- End .container -->


        {% include '_footer.html' %}
    </div><!-- #page -->
</div><!-- End #wrapper -->
{##}
<style type="text/css">

    @media (min-width: 820px) {
        #review-statistics .review-wrap-up .review-wu-left .rev-wu-image, #review-statistics .review-wrap-up .review-wu-left .review-wu-grade {
            height: 140.56px;
        }

        #review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart .cwp-review-percentage {

            margin-top: 13.056%;
        }

        #review-statistics .review-wrap-up .review-wu-left .review-wu-grade .cwp-review-chart span {
            font-size: 28px;
        }

    }



</style>

<script type='text/javascript'
        src='{% static 'public/js/script.index.js' %}'></script>

<script type='text/javascript'>
    /* <![CDATA[ */
    var screenReaderText = {
      "expand": "<span class=\"screen-reader-text\">expand child menu<\/span>",
      "collapse": "<span class=\"screen-reader-text\">collapse child menu<\/span>"
    };
    var stickyMenu = {"disable_sticky": "1"};
    /* ]]> */
</script>

<script type='text/javascript'
        src='{% static 'public/js/script.all.js' %}'></script>
<script type='text/javascript'
        src='{% static 'public/js/owl.carousel.min.js' %}'></script>


</body>
</html>