{% extends 'base.html' %}
{% block content %}
    <main id="main" class="site-main" role="main">


                    <article id="post-108" class="post-108 page type-page status-publish hentry">
                        <header class="entry-header">
                            <h1 class="entry-title">Contact Us</h1></header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>Please use following form to reach us, detail your query as much as you can! We will hit
                                back you!</p>
                            <p class="title-underblock dark mb30">
                            <div class="pirate_forms_wrap">

                                <form method="post" enctype="application/x-www-form-urlencoded" id="pirate_forms_108"
                                      class="pirate_forms ">
                                    <div class="col-sm-4 col-lg-4 form_field_wrap contact_name_wrap pirate_forms_three_inputs  ">
                                        <label for="pirate-forms-contact-name"></label>
                                        <input id="pirate-forms-contact-name" name="pirate-forms-contact-name" required
                                               class="form-control" type="text" value="" placeholder="Your Name"></div>
                                    <div class="col-sm-4 col-lg-4 form_field_wrap contact_email_wrap pirate_forms_three_inputs  ">
                                        <label for="pirate-forms-contact-email"></label>
                                        <input id="pirate-forms-contact-email" name="pirate-forms-contact-email"
                                               required class="form-control" type="email" value=""
                                               placeholder="Your Email"></div>
                                    <div class="col-sm-4 col-lg-4 form_field_wrap contact_subject_wrap pirate_forms_three_inputs  ">
                                        <label for="pirate-forms-contact-subject"></label>
                                        <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject"
                                               required class="form-control" type="text" value="" placeholder="Subject">
                                    </div>
                                    <div class="col-sm-12 col-lg-12 form_field_wrap contact_message_wrap  ">
                                        <textarea id="pirate-forms-contact-message" name="pirate-forms-contact-message"
                                                  required class="form-control" placeholder="Your message"></textarea>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-lg-6 form_field_wrap contact_submit_wrap">
                                        <button id="pirate-forms-contact-submit" name="pirate-forms-contact-submit"
                                                class="pirate-forms-submit-button" type="submit">Send Message
                                        </button>
                                    </div>
                                    <input id="contact-referrer" name="contact-referrer" class="form-control"
                                           type="hidden" value="http://localhost:8000/news/?tag_id=1">
                                    <div class="form_field_wrap hidden " style="display: none"><label
                                            for="form_honeypot">Leave blank to submit</label>
                                        <input id="form_honeypot" name="honeypot" class="form-control" type="text"
                                               value="" placeholder=""></div>
                                </form>
                                <div class="pirate_forms_clearfix"></div>
                            </div>

{#                            todo maps#}
                            <h2 class="title-underblock dark mb30">How to Get in Touch?</h2>
                            <p>New York, NY 10026, United States</p>
                            <p>Central Park North (110 St)</p>

                            <p>&nbsp;</p>
                        </div><!-- .entry-content -->


                    </article><!-- #post-## -->


                </main><!-- #main -->
{% endblock %}

