{% extends 'base.html' %}
{% load  %}
{% block carousel %}
    <div class="card-group">
        {% for news in top_news %}
            <div class="card">
                <a href="{% url "news-detail" news.id %}">
                    <div class="index latest-post card-img" title="{{ news.headline }}">
                        <img class="img-thumbnail" src="{{ news.get_thumbnail }}" alt="Card image cap">
                    </div>
                </a>
                <div class="card-block">
                    <a href="{% url "news-detail" news.id %}"><h4 class="card-title">{{ news.headline }}</h4></a>
                </div>
                <div class="card-footer">
                    <span><i class="fa fa-calendar"></i> {{ news.published_date }}</span>
{#                    <span class="entry-separator">/</span>#}
                    {#                     todo load number of comment and comment link (class link)#}
{#                    <a href="{% url 'news-detail' news.id %}" class="entry-comments"><i class="fa fa-comments"></i>#}
{#                        0</a>#}
                    {#                     todo end load number of comment and comment link#}
                    <span class="entry-separator">/</span>
                    <a href="{% url 'news-list' %}?author_id={{ article.author.id }}" class="entry-author"><i
                            class="fa fa-user"></i> {{ news.author.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% for category_news in news_by_category %}
        <div class="islemag-section1">
            <h2 class="title-border title-bg-line {% cycle 'light_red' 'blue' 'green' 'purple' 'orange' %} mb30">
                <span>{{ category_news.0.name }}</span>
            </h2>

            <div class="card-deck">

                {% for article  in category_news.1 %}

                    <div class="card">
                        <a href="{% url "news-detail" article.id %}">
                            <div class="cat latest-post card-img" title="{{ article.headline }}">
                                <img class="img-thumbnail" src="{{ article.get_thumbnail }}" alt="Card image cap">
                            </div>
                        </a>
                        <div class="card-block">
                            <a href="{% url "news-detail" article.id %}"><h4
                                    class="card-title">{{ article.headline }}</h4></a>
                        </div>
                        <div class="card-footer">
                            <span><i class="fa fa-calendar"></i> {{ article.published_date }}</span>
{#                            <span class="entry-separator">/</span>#}
                            {#                                             todo load number of comment and comment link (class link)#}
{#                            <a href="{% url 'news-detail' article.id %}" class="entry-comments"><i#}
{#                                    class="fa fa-comments"></i> 0</a>#}
                            {#                                             todo end load number of comment and comment link#}
                            <span class="entry-separator">/</span>
                            <a href="{% url 'news-list' %}?author_id={{ article.author.id }}"
                               class="entry-author"><i class="fa fa-user"></i> {{ article.author.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- End .islemag-template1-posts -->


    {% endfor %}

    <div>
        <h2 class="title-border title-bg-line purple mb30">
            <span>Latest News</span>
        </h2>
        <div class="post-section islemag-template2">
            <div class="row">

                {% for article in latest_news %}
                    <div class="col-sm-6">
                        <article
                                class="entry entry-overlay entry-block eb-small {% cycle 'blue' 'green' 'purple' 'orange' 'pink' 'light_red' %}">
                            <div class="entry-media blist">
                                <a href="{% url 'news-list' %}?category_id={{ article.category.id }}"
                                   class="category-block"
                                   title="Category {{ article.category.name }}">{{ article.category.name }}</a>
                                <figure>
                                    <a href="{% url 'news-detail' article.id %}"
                                       title="{{ article.headine }}">
                                        <img width="110" height="110"
                                             src="{{ article.get_thumbnail }}"
                                             class="attachment-islemag_sections_small_thumbnail size-islemag_sections_small_thumbnail wp-post-image img-thumbnail"
                                             alt="Article Thumbnail"/> </a>
                                </figure> <!-- End figure -->
                            </div> <!-- End .entry-media -->

                            <h3 class="entry-title"><a
                                    href="{% url 'news-detail' article.id %}">{{ article.headline }}</a></h3>


                            <div class="entry-meta">
                                <span class="entry-overlay-date"><i
                                        class="fa fa-calendar"></i>{{ article.published_date }}</span>
{#                                <span class="entry-separator">/</span>#}
{##}
                                {# todo comment link and number #}
{#                                <a href="{% url 'news-detail' article.id %}"#}
{#                                   class="entry-comments">0 Comments</a>#}
                                <div>
                                    Posted By<a href="{% url 'news-list' %}?author_id={{ article.author.id }}"
                                                class="entry-author">{{ article.author.name }}</a>
                                </div>
                            </div> <!-- End .entry-meta -->
                        </article> <!-- End .entry-block -->
                    </div> <!-- End .col-sm-6 -->
                {% endfor %}

            </div> <!-- End .row -->
        </div> <!-- End .post-section -->
    </div>
{% endblock %}