body.custom-background {
    background-color: honeydew;
}


.navbar-nav > .nav-item.nav-link {
    /*border-top: 5px solid;*/
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.navbar-nav > .nav-item.nav-link:hover {
    color: #009688 !important;
}

.navbar-nav > .nav-item.nav-link:nth-child(3n+0) {
    border-top-color: #ff6b6b;
}

.navbar-nav > .nav-item.nav-link:nth-child(3n+1) {
    border-top-color: #66bb6a;
}

.navbar-nav > .nav-item.nav-link:nth-child(3n+2) {
    border-top-color: #29b6f6;
}

.navbar.navbar-toggleable-md.navbar-light {
    padding: 0px;
}

.navbar-toggler {
    background: green;
}

.card.index{
    width: 30%;
}

.index.latest-post {
    height: 300px;
    width: 100%;
}

.index.latest-post > img {
    width: 100%;
    height: 100%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.cat.latest-post {
    height: 200px;
    width:100%
}

.cat.latest-post > img {
    width: 100%;
    height: 100%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

/*.newslist.entry-media {*/
    /*height: 100%;*/
    /*width:100%*/
/*}*/

.blist.entry-media > figure{
    margin-bottom: 0;
}

.blist.entry-media > figure > a{
    height: 100%;
    width:100%
}

.blist.entry-media > figure > a > img, .newslist.entry-media > img {
    width: 100%;
    height: 100%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

@media (min-width:34em) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial;
    }
}